* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: rgb(24, 193, 137);
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

button,
input {
    border-radius: 8px;
    
}