.statistics-container {
    margin-top: 60px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#clients-info,
#top-dealer-info,
#contracts-info {
    margin-bottom: 30px;
}

button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#result {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#result th,
#result td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}