<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database collection Management</title>
    <link href="/static/css/collections.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/nav-links.js"></script>
</head>

<body>
    <nav class="horizontal-navbar">
        <ul class="nav-links" id="nav-links">

        </ul>
    </nav>
    <div class="container">
        <h1>Database collection Management</h1>

        <div class="actions">
            <input id="createcollection">
            <button onclick="createcollection()">Create collection</button>
        </div>

        <table class="collection-management">
            <thead>
                <tr>
                    <th>Collection Name</th>
                    <th>Number of Documents</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <div id="collection">
            <h2 id="collname"></h2>
            <table class="view-collection">
                <thead id="viewhead">
                </thead>
                <tbody id="viewbody">
                </tbody>
            </table>
        </div>
    </div>
    <div id="error"></div>
    <script>
        window.onload = () => {
            update();
        };

        function addColumn(collection_name) {
            const columnName = $("#new-column-name").val().trim();
            const columnType = $("#new-column-type").val().trim();
            console.log(columnType)
            if (!columnName) {
                alert("Please enter a column name.");
                return;
            }

            $.ajax({
                url: `/api/collection/add-column/${collection_name}/${columnName}/${columnType}`,
                type: "POST",
                contentType: "application/json",
                success: function () {
                    alert("Column added successfully!");
                    update();
                    viewcollection(collection_name)
                },
                error: function (xhr, status, error) {
                    alert('Error adding column: ' + error);
                }
            });
        }

        function deleteColumn(collection_name, columnName) {
            $.ajax({
                url: `/api/collections/column/${collection_name}/${columnName}`,
                type: 'DELETE',
                success: function (response) {
                    alert('Column deleted successfully');
                    update();
                    viewcollection(collection_name);
                },
                error: function (xhr, status, error) {
                    alert('Error deleting column: ' + error);
                }
            });
        }

        function createcollection() {
            $.ajax({
                async: true,
                url: `/api/collections/${$("#createcollection").val()}`,
                method: "POST",
                headers: {
                    "content-type": "application/json;odata=verbose"
                },
                success: function (data) {
                    update();
                },
                error: function (xhr, status, error) {
                    alert('Error creating collection: ' + error);
                }
            });
        }

        function viewcollection(collectionName) {
            $("#collection").html(`
                    <h2 id="collname"></h2>
            <table class="view-collection">
                <thead id="viewhead">
                </thead>
                <tbody id="viewbody">
                </tbody>
            </table>`);
            $.ajax({
                async: true,
                url: `/api/collections/${collectionName}`,
                method: "GET",
                headers: {
                    "content-type": "application/json;odata=verbose"
                },
                success: function (data) {
                    $("#collection").prepend(`<input type="text" id="new-column-name" placeholder="Enter new column name">
                    <select id = "new-column-type">
                    <option selected>string</option>
                    <option>int</option>
                    <option>float</option>
                    <option>boolean</option>
                    </select>
                    <button onclick="addColumn('${collectionName}')">Add Column</button>`)
                    $("#collname").html(data.collection_name);
                    $("#viewhead").html("<tr>");

                    $("#viewhead").append("<th>_id</th>");
                    for (const [key, value] of Object.entries(data.fields)) {
                        if (!(key === "_id")) {
                            if (!key.includes("_id")) {
                                $("#viewhead").append(
                                    `<th>${key}(${value}) <button onclick="deleteColumn('${data.collection_name}', '${key}')" data-field = "${key}">🗑</button></th>`
                                );
                            } else {
                                $("#viewhead").append(
                                    `<th>${key}(${value})</th>`
                                );
                            }
                        }
                    };
                    $("#viewhead").append("<th>Actions</th>");
                    $("#viewhead").append("</tr>");

                    $("#viewbody").html("");
                    data.documents.forEach(document => {
                        $("#viewbody").append("<tr>");

                        $("#viewbody").append(`<td>${document['_id']}</td>`);

                        for (const [key, field] of Object.entries(data.fields)) {
                            console.log(key, field)
                            if (!(key === "_id")) {
                                if (!key.includes("_id") && key != "role") {
                                    let inputType = "";
                                    let inputElement = '';

                                    switch (field) {
                                        case "int":
                                        case "float":
                                            inputElement =
                                                `<input type="number" name="${key}" value="${document[key] ? document[key] : ''}" data-id = "${document['_id']}" data-field = "${key}" data-type="${field}">`;
                                            break;

                                        case "bool":
                                            let checked = document[key] === true ? 'checked' :
                                                '';
                                            inputElement =
                                                `<input type="checkbox" name="${key}" ${checked} data-id = "${document['_id']}" data-field = "${key}" data-type="${field}">`;
                                            break;
                                        default:
                                            inputElement =
                                                `<input type="text" name="${key}" value="${document[key] ? document[key] : ''}" data-id = "${document['_id']}" data-field = "${key}" data-type="${field}">`;
                                            break;
                                    }
                                    $("#viewbody").append(
                                        "<td>" + inputElement + "</td>"
                                    );
                                } else
                                    $("#viewbody").append(
                                        `<td>${document[key]}</td>`
                                    );
                            }
                        };

                        $("#viewbody").append(`
                    <td>
                        <button onclick="deleteRow('${data.collection_name}', '${document['_id']}')">delete</button>
                        <button onclick="updateRow('${data.collection_name}', '${document['_id']}', getRowData('${document['_id']}'))">update</button>
                    </td>
                `);
                        $("#viewbody").append("</tr>");

                    });
                    let addRow = "<tr id='add-new-row'>";
                    for (const [key, field] of Object.entries(data.fields)) {
                        if (!key.includes("_id") && key !== "role") {
                            let inputType = "";
                            let inputElement = '';

                            switch (field) {

                                case "int":
                                case "float":
                                    inputElement =
                                        `<input type="number" name="${key}" value="${document[key] ? document[key] : ''}" data-id = "${document['_id']}" data-field = "${key}" id = "new-${key}" data-type="${field}">`;
                                    break;

                                case "bool":
                                    let checked = document[key] === true ? 'checked' : '';
                                    inputElement =
                                        `<input type="checkbox" name="${key}" ${checked} data-id = "${document['_id']}" data-field = "${key}" id = "new-${key}" data-type="${field}">`;
                                    break;
                                default:
                                    inputElement =
                                        `<input type="text" name="${key}" value="${document[key] ? document[key] : ''}" data-id = "${document['_id']}" data-field = "${key}" id = "new-${key}" data-type="${field}">`;
                                    break;
                            }
                            addRow += `<td> ${inputElement}</td>`;
                        } else {
                            addRow += `<td>Не можна заповнити</td>`;
                        }
                    };
                    addRow +=
                        `<td><button onclick="saveNewRow('${collectionName}')">Add</button></td></tr>`;
                    $(
                        "#viewbody").append(addRow);
                },
                error: function (error) {
                    $("#error").html(JSON.stringify(error))
                }
            });
        }

        function saveNewRow(collection_name) {
            let newRowData = {};
            $("#viewhead th").each(function (index, element) {
                if (index !== 0) {
                    const field = $(this).attr("data-field");
                    if ($(`#new-${field}`).attr('type') === "checkbox") {
                        updatedData[field] = $(`#new-${field}`).prop("checked");
                    } else {
                        let fieldType = $(`#new-${field}`).attr("data-type");
                        let value = $(`#new-${field}`).val();
                        if (fieldType === "int") {
                            newRowData[field] = parseInt(value, 10);
                        } else if (fieldType === "float") {
                            newRowData[field] = parseFloat(value);
                        } else {
                            newRowData[field] = value;
                        }
                    }
                }
            });

            $.ajax({
                url: `/api/collection/add-document/${collection_name}`,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(newRowData),
                success: function () {
                    alert("Document added successfully!");
                    update();
                    viewcollection(collection_name);
                },
                error: function (xhr, status, error) {
                    alert('Error adding document: ' + error);
                }
            });
        }

        function deleteRow(collection_name, documentId) {
            $.ajax({
                url: `/api/collections/document/delete/${collection_name}/${documentId}`,
                type: 'DELETE',
                success: function (response) {
                    alert('Row deleted successfully');
                    viewcollection(collection_name);
                },
                error: function (xhr, status, error) {
                    alert('Error deleting row: ' + error);
                }
            });
        }

        function updateRow(collection_name, documentId, updatedData) {
            $.ajax({
                url: `/api/collections/document/update/${collection_name}/${documentId}`,
                type: 'PUT',
                data: JSON.stringify(updatedData),
                contentType: 'application/json',
                success: function (response) {
                    alert('Row updated successfully');
                    update();
                    viewcollection(collection_name);
                },
                error: function (xhr, status, error) {
                    alert('Error updating row: ' + error);
                }
            });
        }

        function getRowData(documentId) {
            const updatedData = {};
            $(`input[data-id="${documentId}"]`).each(function () {
                const field = $(this).data('field');
                if (!$(this).prop('readonly')) {
                    if ($(this).attr('type') === "checkbox") {
                        updatedData[field] = $(this).prop("checked");
                    } else {
                        let fieldType = $(this).attr("data-type");
                        let value = $(this).val();
                        if (fieldType === "int") {
                            updatedData[field] = parseInt(value, 10);
                        } else if (fieldType === "float") {
                            updatedData[field] = parseFloat(value);
                        } else {
                            updatedData[field] = value;
                        }
                    }
                }
            });
            return updatedData;
        }

        function deletecollection(collectionName) {
            if (confirm("Are you sure you want to delete the " + collectionName + " collection?")) {
                $.ajax({
                    async: true,
                    url: `/api/collections/${collectionName}`,
                    method: "DELETE",
                    headers: {
                        "content-type": "application/json;odata=verbose"
                    },
                    success: function (data) {
                        update();
                    },
                    error: function (xhr, status, error) {
                        alert('Error deleting collection: ' + error);
                    }
                });
            }
        }

        function update() {
            fillNav();
            $.ajax({
                async: true,
                url: `/api/collections`,
                method: "GET",
                headers: {
                    "content-type": "application/json;odata=verbose"
                },
                success: function (data) {
                    $("#collection").html(`
                    <h2 id="collname"></h2>
            <table class="view-collection">
                <thead id="viewhead">
                </thead>
                <tbody id="viewbody">
                </tbody>
            </table>`);
                    $("#tbody").html("");
                    for (const [key, value] of Object.entries(data)) {
                        $("#tbody").append(
                            `
        <tr>
                    <td>${key}</td>
                    <td>${value}</td>
                    <td>
                        <button onclick="viewcollection('${key}')">View</button>
                        <button onclick="deletecollection('${key}')">Delete</button>
                    </td>
                </tr>
        `);
                    };
                },
                error: function (error) {
                    alert("error: " + JSON.stringify(error));
                }
            });
        }
    </script>
</body>

</html>