<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database collection Management</title>
    <link href="/static/css/collections.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/nav-links.js"></script>
</head>

<body>
    <nav class="horizontal-navbar">
        <a href="/" class="logo">AutoSale</a>
        <ul class="nav-links" id="nav-links">

        </ul>
    </nav>
    <div class="container">
        <h1>Database collection Management</h1>

        <div class="actions">
            <button onclick="createcollection()">Create collection</button>
            <button onclick="dropcollection()">Drop collection</button>
        </div>

        <table class="collection-management">
            <thead>
                <tr>
                    <th>Collection Name</th>
                    <th>Number of Documents</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <div id="collection">
            <h2 id="collname"></h2>
            <table class="view-collection">
                <thead id="viewhead">
                </thead>
                <tbody id="viewbody">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        window.onload = () => {
            update();
        };

        function viewcollection(collectionName) {
            $.ajax({
                async: true,
                url: `/api/collections/${collectionName}`,
                method: "GET",
                headers: {
                    "content-type": "application/json;odata=verbose"
                },
                success: function (data) {
                    $("#collname").html(data.collection_name);
                    $("#viewhead").html("<tr>");
                    $("#viewhead").append("<th>_id</th>");
                    data.fields.forEach(element => {
                        if (element !== "_id") {
                            $("#viewhead").append("<th>" + element + "</th>");
                        }
                    });
                    $("#viewhead").append("</tr>");

                    $("#viewbody").html("");
                    data.documents.forEach(document => {
                        $("#viewbody").append("<tr>");

                        $("#viewbody").append(
                            `<td>${document['_id'] !== undefined ? document['_id'] : ''}</td>`);
                        data.fields.forEach(field => {
                            if (field !== "_id") {
                                $("#viewbody").append(
                                    `<td>${document[field] !== undefined ? document[field] : ''}</td>`
                                );
                            }
                        });
                        $("#viewbody").append("</tr>");
                    });
                },
                error: function (error) {
                    console.log("error: " + JSON.stringify(error));
                }
            });
        }

        function deletecollection(collectionName) {
            if (confirm("Are you sure you want to delete the " + collectionName + " collection?")) {
                $.ajax({
                    async: true,
                    url: `/api/collections/${collectionName}`,
                    method: "DELETE",
                    headers: {
                        "content-type": "application/json;odata=verbose"
                    },
                    success: function (data) {
                        console.log("deleted");
                        update();
                    }
                });
            }
        }

        function update() {
            fillNav();
            $.ajax({
                async: true,
                url: `/api/collections`,
                method: "GET",
                headers: {
                    "content-type": "application/json;odata=verbose"
                },
                success: function (data) {
                    $("#tbody").html("");
                    console.log(data)
                    for (const [key, value] of Object.entries(data)) {
                        $("#tbody").append(
                            `
        <tr>
                    <td>${key}</td>
                    <td>${value}</td>
                    <td>
                        <button onclick="viewcollection('${key}')">View</button>
                        <button onclick="deletecollection('${key}')">Delete</button>
                    </td>
                </tr>
        `);
                    };
                },
                error: function (error) {
                    console.log("error: " + JSON.stringify(error));
                }
            });
        }
    </script>
</body>

</html>