<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoSale</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/sidebar.css" rel="stylesheet">
    <link href="../static/css/forms.css" rel="stylesheet">
    <link href="../static/css/container.css" rel="stylesheet">
    <link href="../static/css/navbar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/nav-links.js"></script>
</head>

<body>
    <nav class="horizontal-navbar">
        <ul class="nav-links" id="nav-links">

        </ul>
        <div class="log">
            <button onclick="showlogin()" id="showlog">Log in</button>
            <button onclick="logout()" id="logout">Log out</button>
        </div>
    </nav>
    <div id="login">
        <form id="signupform" class="auth" onsubmit="signup(event)" enctype="multipart/form-data">
            <!-- Hidden field to store whether it is for 'client' or 'dealer' -->
            <input type="hidden" id="who" name="who" value="client">

            <!-- Login and password fields (common for both) -->
            <input class="forminput" id="signupusername" name="login" placeholder="Логін" required>
            <input class="forminput" id="signuppassword" name="password" type="password" placeholder="Пароль" required>
            <input class="forminput" id="confirmpassword" type="password" placeholder="Підтвердити пароль" required>
            <input class="forminput" id="clientPhone" name="phone" type="tel" placeholder="Номер телефону" required>
            <input class="forminput" id="name" name="name" placeholder="ПІБ" required>
            <input class="forminput" id="address" name="address" placeholder="Адреса" required>

            <!-- Client-specific fields -->
            <div id="clientFields">
                <input class="forminput" id="city" name="city" placeholder="Місто">
            </div>

            <!-- Dealer-specific fields -->
            <div id="dealerFields" style="display: none;">
                <label for="photo">Фото</label><br>
                <input class="forminput" id="photo" name="photo" type="file" accept="image/*">
            </div>

            <!-- Submit and toggle buttons -->
            <input class="forminput" type="submit" value="Sign up">
            <input onclick="showloginform()" class="forminput" type="button" value="Log in">
            <button type="button" onclick="toggleMode()">Switch to Dealer Registration</button>
        </form>

        <form id="loginform" class="auth" onsubmit="login(event)">
            <input class="forminput" id="loginusername" placeholder="username" required>
            <input class="forminput" id="loginpassword" placeholder="password" type="password" required>
            <div class="additional">
                <input type="button" onclick="forgotPassword(event)" value="forgot password?" width="100px"></button>
            </div>
            <h4 id="forgottenPassword"></h4>
            <input class="forminput" type="submit" value="Log in">
            <input onclick="showsignupform()" class="forminput" type="button" value="Sign up">
        </form>
        <input type="button" class="close-btn" onclick="hidelogin()" value="X">
    </div>

    <div class="header">
        <h1>Welcome, </h1>
    </div>
    <div class="sidebar">
        <h2>Фільтри та Сортування</h2>
        <form id="filterform" method="POST" onsubmit="filter()">
            <label for="brand">Марка автомобіля</label>
            <div id="brandCheckboxes">
                <label>Усі</label>
                <input type="checkbox" name="brand" value="all">

            </div>
            <label for="price-min">Ціна</label>
            <input class="filterinput" type="number" id="price-min" name="price-min" placeholder="Від, $">

            <input class="filterinput" type="number" id="price-max" name="price-max" placeholder="До, $">

            <label for="mileage-max">Максимальний пробіг</label>
            <input class="filterinput" type="number" id="mileage-max" name="mileage-max" placeholder="До, км">

            <label for="year-min">Рік випуску</label>
            <input class="filterinput" type="number" id="year-min" name="year-min" placeholder="Від" min="0" max="2024">
            <input class="filterinput" type="number" id="year-max" name="year-max" placeholder="До" max="2024">

            <label for="sort">Сортувати за</label>
            <select class="filterinput" id="sort" name="sort">
                <option value="price-asc">Ціна: від дешевих до дорогих</option>
                <option value="price-desc">Ціна: від дорогих до дешевих</option>
                <option value="year-desc">Рік випуску: від нових до старих</option>
                <option value="year-asc">Рік випуску: від старих до нових</option>
                <option value="mileage-asc">Пробіг: від малого до великого</option>
                <option value="mileage-desc">Пробіг: від великого до малого</option>
            </select>

            <button type="submit">Застосувати фільтри</button>
        </form>
    </div>
    <div class="container" id="carscontainer">

    </div>


    <script>
        window.onload = () => {
            fillNav();
            if (document.cookie.includes("username")) {
                $("#logout").css("visibility", "visible");
                $("#showlog").css("visibility", "hidden");
            } else {
                $("#logout").css("visibility", "hidden");
                $("#showlog").css("visibility", "visible");
            }
            $.ajax({
                async: true,
                url: `/api/cars`,
                method: "GET",
                headers: {
                    "content-type": "application/json;odata=verbose"
                },
                success: function (data) {
                    fillContainer(data);
                },
                error: function (error) {
                    console.log("error: " + JSON.stringify(error));
                }
            });
            $.ajax({
                url: '/api/cars/data',
                type: 'GET',
                success: function (response) {
                    var brands = response.brands;
                    var brandCheckboxes = '';
                    brands.forEach(function (brand) {
                        brandCheckboxes += `
                    <label>${brand.charAt(0).toUpperCase() + brand.slice(1)}</label>
                    <input type="checkbox" name="brand" value="${brand.toLowerCase()}">
                `;
                    });
                    $('#brandCheckboxes').append(brandCheckboxes);

                    var years = response.years;
                    var yearOptions = '';
                    years.sort((a, b) => b - a);
                    years.forEach(function (year) {
                        yearOptions += `<option value="${year}">${year}</option>`;
                    });
                    $('#year-min').append(yearOptions);
                    $('#year-max').append(yearOptions);

                },
                error: function (xhr, status, error) {
                    console.error('Failed to fetch car data:', error);
                }
            });
        };

        function filter() {
            event.preventDefault();

            var selectedBrands = [];
            $('input[name="brand"]:checked').each(function () {
                selectedBrands.push($(this).val());
            });

            var priceMin = $('#price-min').val();
            var priceMax = $('#price-max').val();
            var mileageMax = $('#mileage-max').val();
            var yearMin = $('#year-min').val();
            var yearMax = $('#year-max').val();
            var sortOption = $('#sort').val();

            $.ajax({
                url: '/api/cars/filter',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    brands: selectedBrands.length ? selectedBrands : null,
                    price_min: priceMin ? parseFloat(priceMin) : null,
                    price_max: priceMax ? parseFloat(priceMax) : null,
                    mileage_max: mileageMax ? parseInt(mileageMax) : null,
                    year_min: yearMin ? parseInt(yearMin) : null,
                    year_max: yearMax ? parseInt(yearMax) : null,
                    sort: sortOption
                }),
                success: function (response) {
                    fillContainer(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching cars:', error);
                }
            });
        }

        function ajaxIsDealer() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '/api/isdealer',
                    type: 'GET',
                    success: resolve,
                    error: reject
                });
            });
        }

        async function fillContainer(data) {
            console.log(data)
            let result = await ajaxIsDealer();
            let is_dealer = result.dealer;

            $("#carscontainer").html("");
            data.forEach(element => {
                appendElement = `
                      <div class="car-card">
            <img src="${element.photo}" alt="Car Image">
            <div class="car-card-content">
                <h3>${element.brand}</h3>
                <h4>${element.model}</h4>
                <div class="car-details">
                    <span>Year: ${element.year}</span>
                    <span>Mileage: ${element.mileage} km</span>
                    <span>Color: ${element.color}</span>
                </div>
                <p>${element.description}</p>
                <div class="price">$${element.price}</div>`;
                if (!is_dealer) {
                    appendElement +=
                        `<button onClick='createOrder("${element._id}")'>Придбати</button>`;
                }
                appendElement += `
            </div>
        </div>`
                $("#carscontainer").append(appendElement);
            });
        }

        function createOrder(id) {
            $.ajax({
                url: '/api/orders',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    car_id: id
                }),
                success: function (response) {
                    alert('Order placed successfully!');
                    window.location.reload(true);
                },
                error: function (xhr) {
                    alert('Failed to place order: ' + xhr.responseText);
                }
            });
        }
        document.getElementById("year-max").setAttribute("max", new Date().getFullYear());
        document.getElementById("year-min").setAttribute("max", new Date().getFullYear());
    </script>
</body>

</html>