<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/profile.css" rel="stylesheet">
    <link href="../static/css/navbar.css" rel="stylesheet">
    <link href="../static/css/forms.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/nav-links.js"></script>
</head>

<body>

    <div id="login">
        <form id="signupform" style="visibility: hidden;" class="auth" onsubmit="signup(event)"
            enctype="multipart/form-data">
            <input class="forminput" id="signupusername" name="login" placeholder="Логін" required>
            <input class="forminput" id="signuppassword" name="password" type="password" placeholder="Пароль" required>
            <input class="forminput" id="confirmpassword" type="password" placeholder="Підтвердити пароль" required>
            <input class="forminput" id="name" name="name" placeholder="ПІБ" required>
            <input class="forminput" id="city" name="city" placeholder="Місто" required>
            <input class="forminput" id="address" name="address" placeholder="Адреса" required>
            <input class="forminput" id="phone" name="phone" type="tel" placeholder="Номер телефону" required>
            <br><label>Фото</label> <br>
            <input class="forminput" id="photo" name="photo" type="file" accept="image/*">

            <input class="forminput" type="submit" value="Sign up">
            <input onclick="showloginform()" class="forminput" type="button" value="Log in">
        </form>
        <form id="loginform" class="auth" onsubmit="login()">
            <input class="forminput" id="loginusername" placeholder="username" required>
            <input class="forminput" id="loginpassword" placeholder="password" type="password" required>
            <div class="additional"><button onclick="forgotPassword()">forgot password?</button></div>
            <h4 id="forgottenPassword"></h4>
            <input class="forminput" type="submit" value="Log in">
            <input onclick="showsignupform()" class="forminput" type="button" value="Sign up">
        </form>
    </div>
    <nav class="horizontal-navbar">
        <a href="/" class="logo">AutoSale</a>
        <ul class="nav-links" id="nav-links">

        </ul>
    </nav>
    <h2 id="username"></h2>
    <div class="form-container">
        <h2>Add Car</h2>
        <form onsubmit="addcar()" method="POST" enctype="multipart/form-data">
            <div>
                <label for="brand">Car Brand:</label>
                <input type="text" id="brand" name="brand" required>
            </div>

            <div>
                <label for="model">Car Model:</label>
                <input type="text" id="model" name="model" required>
            </div>

            <div>
                <label for="year">Year:</label>
                <input type="number" id="year" name="year" min="1886" max="2024" required>
            </div>

            <div>
                <label for="mileage">Mileage (km):</label>
                <input type="number" id="mileage" name="mileage" required>
            </div>

            <div>
                <label for="price">Price ($):</label>
                <input type="number" id="price" name="price" step="0.01" required>
            </div>

            <div>
                <label for="photo">Car Photo:</label>
                <input type="file" id="carphoto" name="photo" accept="image/*" required>
            </div>

            <div>
                <label for="color">Color:</label>
                <input id="color" name="color">
            </div>
            <div>
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" rows="4" cols="50"></textarea>
            </div>
            <button type="submit">Add Car</button>
        </form>
    </div>

    <script>
        window.onload = () => {
            fillNav();
            if (!document.cookie.includes("username")) {
                console.log("no")
                showlogin();
            } else {
                console.log("yes");
                $("#username").html("Welcome, " + document.cookie
                    .split("; ")
                    .find((row) => row.startsWith("username=")).split("=")[1]);
            }
        }

        function addcar() {
            event.preventDefault();

            var formData = new FormData();

            formData.append('brand', $('#brand').val());
            formData.append('model', $('#model').val());
            formData.append('year', $('#year').val());
            formData.append('mileage', $('#mileage').val());
            formData.append('price', $('#price').val());
            formData.append('photo', $('#carphoto')[0].files[0]);
            formData.append('notes', $('#notes').val());
            formData.append('color', $('#color').val());
            formData.append('dealer', document.cookie
                .split("; ")
                .find((row) => row.startsWith("username=")).split("=")[1]);
            $.ajax({
                url: '/api/cars',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert(response.message);
                    $('form')[0].reset();
                },
                error: function (xhr, status, error) {
                    console.log('Error adding car: ' + xhr.responseText);
                }
            });
        }
    </script>
</body>

</html>