<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/users.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/nav-links.js"></script>
</head>

<body>
    <nav class="horizontal-navbar">
        <ul class="nav-links" id="nav-links">

        </ul>
    </nav>
    <div id="user-management">
        <h2>User Management</h2>
        <table id="user-table">
            <thead>
                <tr>
                    <th>Логін</th>
                    <th>Поточна роль</th>
                    <th>Змінити роль</th>
                    <th>Оновити</th>
                </tr>
            </thead>
            <tbody id="user-rows">
            </tbody>
        </table>
    </div>

    <script>
        window.onload = () => {
            fillNav();
        }

        function updateTable(users) {
            let rows = '';
            users.forEach(user => {
                rows += `<tr>
                        <td>${user.login}</td>
                        <td>${user.role}</td>
                        <td>`
                if (user.role == "owner")
                    rows += "owner"
                else {
                    rows +=
                        ` <select class="role-select" id="rs${user._id}">
                                <option value="user" ${user.role === 'user' ? 'selected' : ''}>user</option>
                                <option value="operator" ${user.role === 'operator' ? 'selected' : ''}>operator</option>
                                <option value="admin" ${user.role === 'admin' ? 'selected' : ''}>admin</option>
                            </select>
                        </td>`;
                }
                rows += `<td>
                    <button class="update-role-btn" onClick='updateRole("${user._id}")' data-username="${user.login}">Update Role</button>
                </td> </tr>`;;

            });
            $('#user-rows').html(rows);
        }

        function loadUsers() {
            $.ajax({
                url: '/api/users',
                method: 'GET',
                success: function (users) {
                    updateTable(users)
                },
                error: function () {
                    alert('Failed to load users.');
                }
            });
        }

        function updateRole(id) {
            const username = $(this).data('username');
            const newRole = $(`#rs${id}`).val();
            console.log(newRole)
            $.ajax({
                url: `/api/users/${id}/role`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                    role: newRole
                }),
                success: function (response) {
                    alert(response.message);
                    loadUsers();
                },
                error: function (xhr, status, error) {
                    alert('Failed to update role: ' + xhr.responseText);
                }
            });
        }
        $(document).ready(function () {
            loadUsers();

        });
    </script>
</body>

</html>